body {
    background-color: black;
    text-align: center;
}

#menu {
    width: 100%;
    height: 100px;
}

li>a {
    position:relative;
    top:30px;
    
    text-decoration: none;
    color:white; 
    font-size: 22px;
}

.menu-item {
    position: absolute;
}

ul>li:nth-child(2) {
    left:0;
    right:0;
    margin: auto;
}

ul>li:nth-child(1) {
    left:44%;
}

ul>li:nth-child(3) {
    left:54%;
}

header {
    position:relative;
}

#main-header-text {
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    top: 600px;
    
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}